body {background: #010101;}

.container {position:relative; width:1100px; margin:0 auto;  z-index:10; }
.bg_left {position:absolute; top:0; left:-550px; width:50%; height: 1600px; background:url(../img/gate/bg_left.jpg) no-repeat right 0; }
.bg_right {position:absolute; top:0; left:50%; width:50%; height: 1600px; *margin-left:-1px; _margin-left:0px; background: url(../img/gate/bg_right.jpg) no-repeat 550px 0; }
.wrap {overflow: hidden; padding-top: 0; min-width: 1280px;}

.pm_gate {position:relative; height: 1504px; background:url(../img/gate/bg_gate.jpg) no-repeat; z-index:40;}
.pm_gate .btn_g_login {width: 77px; height: 37px; left: 813px; top: 73px;}
.pm_gate .btn_g_login.on {background: url(../img/gate/btn_logout.jpg) no-repeat 0 0;}
.pm_gate .btn_g_avahome {width: 100px; height: 37px; left: 896px; top: 73px;}
.pm_gate .btn_g_gamestart {width: 77px; height: 37px; left: 1003px; top: 73px;}
.pm_gate .btn_g_avalogo {width: 153px; height: 49px; left: 21px; top: 65px;}
.pm_gate .la_tc {display: block; position: absolute; width: 181px; height: 13px; right: 20px; top: 143px;}

.pm_gate .btn_take {width: 280px; height: 465px; left: 480px; top: 155px;}
.hover_bg1 {display: none; position: absolute; width: 280px; height: 465px; left: 480px; top: 155px; background: url(../img/gate/b_t.jpg) no-repeat 0 0;}
.pm_gate .btn_take:hover + .hover_bg1 {display: block;}

.pm_gate .btn_party {width: 380px; height: 515px; left: 790px; top: 235px;}
.hover_bg2 {display: none; position: absolute; width: 380px; height: 515px; left: 790px; top: 235px; background: url(../img/gate/b_7.jpg) no-repeat 0 0;}
.pm_gate .btn_party:hover + .hover_bg2 {display: block;}

.pm_gate .btn_mov {width: 146px; height: 145px; left: 816px; top: 800px;}
.hover_bg3 {display: none; position: absolute; width: 146px; height: 145px; left: 816px; top: 800px; background: url(../img/gate/b_m.jpg) no-repeat 0 0;}
.pm_gate .btn_mov:hover + .hover_bg3 {display: block;}

.footer {position:relative; height:97px; text-align: center; background:url(../img/gate/bg_foot.jpg) no-repeat; z-index:40;}
.footer p {padding-top: 0px;}
.footer .footer_fix {position: relative; width: 819px; height: 28px; display: inline-block; _display: inline;zoom: 1; background:url(../img/gate/txt_foot.png) no-repeat 0 50%;}
.footer .btn {height: 28px; top:0px;}
.footer .redduck {left: 0px; width: 100px;}
.footer .eventqna {right: 110px; width: 65px;}
.footer .pmangevent {right: 0; width: 101px;}
.footer .btn_ci {margin-right: 28px;display: inline-block; _display: inline;zoom: 1; vertical-align: top;}
.footer .neowizgames_ci {width: 94px; height: 26px; background:url(../img/gate/neowiz_ci.png) no-repeat 50% 50%;}
.footer .daum_ci {width: 94px; height: 26px; background:url(../img/gate/daum_ci.png) no-repeat 50% 50%;}
.footer .naver_ci {width: 94px; height: 26px; background:url(../img/gate/naver_ci.png) no-repeat 50% 50%;}


.layer_pop {position: absolute; z-index: 100; display:none;}
.layer_pop .pop_body {position: absolute; width: 100%; height: 100%; left: 0; bottom: 0;}
.layer_pop .layer_close {position: absolute; display: block; right: 20px; top: 20px; width: 37px; height: 34px; text-indent: -9999px; z-index: 101}

.pm_video {position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 999; display: none;}
.pm_video .bg{ position: absolute; left: 0; right:0; top: 0; bottom: 0; display: block; background: #000; opacity: .75; filter: Alpha(Opacity=75);} 
.pm_video .video_box {position: absolute; left:50%; top: 50%; margin: -499px 0 0 -640px; width: 1280px; height: 720px; background: #fff;}
.pm_video .video_box .f_mov {width: 100%; height: 100%;}
.pm_video .video_box .btn_mov_close {width: 80px; height: 35px; right: 0; top: -50px; background: url(../img/gate/btn_mov_close.png) no-repeat 0 0;}
