body {background: #000000;}

.container {position:relative; width: 990px; margin:0 auto;  z-index:10; }
.bg_left {position:absolute; top:0; left:-495px; width:50%; height: 100%; background:url(../img/secrect/bg_left.jpg) no-repeat right 133px; }
.bg_right {position:absolute; top:0; left:50%; width:50%; height: 100%; *margin-left:-1px; _margin-left:0px; background: url(../img/secrect/bg_right.jpg) no-repeat 495px 133px; }
.wrap {overflow: hidden; padding-top: 133px; min-width: 1024px;}


.event_01 {position:relative; height: 1823px; background:url(../img/secrect/ev_01.jpg) no-repeat 0 0; z-index:40;}
.event_01 .btn_noti_01 {width: 118px; height: 32px; left: 254px; top: 1074px;}
.event_01 .btn_gift {width: 584px; height: 149px; left: -21px; top: 750px; background: url(../img/secrect/btn_gift.png) no-repeat;}
.event_01 .btn_ava_down {width: 252px; height: 99px; left: 0px; top: 1200px;}
.event_01 .btn_startup {width: 204px; height: 42px; left: 421px; top: 1256px;}
.event_01 .btn_pack_point {width: 116px; height: 33px; left: 53px; top: 1653px;}
.event_01 .btn_pack_rifle {width: 116px; height: 33px; left: 239px; top: 1653px;}
.event_01 .btn_pack_sniper {width: 116px; height: 33px; left: 424px; top: 1653px;}



.event_02 {position:relative; height: 963px; background:url(../img/secrect/ev_02.jpg) no-repeat 0 0; z-index:40;}
.event_02 .btn_noti_02 {width: 118px; height: 32px; left: 272px; top: 120px;}
.event_02 .btn_mov {width: 191px; height: 75px; left: 107px; top: 577px;}
.event_02 .btn_sns_f {width: 191px; height: 75px; left: 352px; top: 577px;}

.event_03 {position:relative; height: 1488px; background:url(../img/secrect/ev_03.jpg) no-repeat 0 0; z-index:40;}
.event_03 .btn_noti_03 {width: 118px; height: 32px; left: 549px; top: 132px;}
.event_03 .btn_reward_euro {width: 102px; height: 33px; left: 748px; top: 379px;}
.event_03 .btn_reward_rt1 {width: 83px; height: 29px; left: 696px; top: 466px;}
.event_03 .btn_reward_rt2 {width: 83px; height: 29px; left: 866px; top: 475px;}
.event_03 .btn_reward_w {width: 105px; height: 34px; left: 751px; top: 543px;}
.event_03 .btn_reward_attend {width: 83px; height: 29px; left: 757px; top: 677px;}
.event_03 .btn_noti_04 {width: 118px; height: 32px; left: 549px; top: 994px;}

.event_03 .btn_reward_promo1 {width: 66px; height: 29px; left: 475px; top: 1344px;}
.event_03 .btn_reward_promo2 {width: 66px; height: 29px; left: 548px; top: 1344px;}
.event_03 .btn_reward_promo3 {width: 66px; height: 29px; left: 621px; top: 1344px;}
.event_03 .btn_reward_promo4 {width: 66px; height: 29px; left: 695px; top: 1344px;}
.event_03 .btn_reward_promo5 {width: 66px; height: 29px; left: 765px; top: 1344px;}
.event_03 .btn_reward_promo6 {width: 66px; height: 29px; left: 836px; top: 1344px;}
.event_03 .btn_reward_promo7 {width: 66px; height: 29px; left: 911px; top: 1344px;}




.footer {position:relative; height:307px; text-align: center; background: url(../img/secrect/bg_footer.jpg) no-repeat 0 0; z-index:40;}
.footer p {padding: 50px 0 0 230px;}
.footer .footer_fix {position: relative; top: 6px; width: 395px; height: 40px; display: inline-block; _display: inline;zoom: 1; background:url(../img/secrect/txt_footer.png) no-repeat 0 50%;}
.footer .btn {height: 28px; top: 17px;}
.footer .redduck {top: 0; left: 0px; width: 100px;}
.footer .eventqna {right: 183px; width: 77px;}
.footer .pmangevent {right: 58px; width: 110px;}
.footer .btn_ci {margin-right: 28px;display: inline-block; _display: inline;zoom: 1; vertical-align: top;}
.footer .neowizgames_ci {width: 94px; height: 26px; background:url(../img/secrect/ci_neowiz.png) no-repeat 50% 50%;}
.footer .daum_ci {width: 94px; height: 26px; background:url(../img/secrect/ci_daum.png) no-repeat 50% 50%;}
.footer .naver_ci {width: 94px; height: 26px; background:url(../img/secrect/ci_naver.png) no-repeat 50% 50%;}

.layer_pop {position: absolute; z-index: 100; display:none;}
.layer_pop .pop_body {position: absolute; width: 100%; height: 100%; left: 0; bottom: 0;}
.layer_pop .layer_close {position: absolute; display: block; right: 20px; top: 20px; width: 37px; height: 34px; text-indent: -9999px; z-index: 101}

.pm_video {position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 999; display: none;}
.pm_video .bg{ position: absolute; left: 0; right:0; top: 0; bottom: 0; display: block; background: #000; opacity: .75; filter: Alpha(Opacity=75);} 
.pm_video iframe {position: absolute; top: -999999px;}
.on.pm_video iframe {position: relative; top: 0;}
.pm_video .video_box {position: absolute; left:50%; top: 50%; margin: -499px 0 0 -640px; width: 1280px; height: 720px; background: transparent;}
.pm_video .video_box .f_mov {width: 100%; height: 100%;}
.pm_video .video_box .btn_mov_close {width: 80px; height: 35px; right: 0; top: -50px; background: url(../img/teaser/btn_mov_close.png) no-repeat 0 0;}

.pop_notice_01  {width: 690px; height: 306px; top: 1246px !important; background: url(../img/secrect/pop_l01.png) no-repeat 0 100%;}
.pop_notice_01 .layer_close {position: absolute; display: block; right: 28px; top: 30px; width: 32px; height: 32px; text-indent: -9999px; z-index: 101}

.pop_notice_02  {width: 690px; height: 254px; top: 2123px !important; background: url(../img/secrect/pop_l02.png) no-repeat 0 100%;}
.pop_notice_02 .layer_close {position: absolute; display: block; right: 28px; top: 30px; width: 32px; height: 32px; text-indent: -9999px; z-index: 101}

.pop_notice_03  {width: 690px; height: 254px; top: 3092px !important; background: url(../img/secrect/pop_l03.png) no-repeat 0 100%;}
.pop_notice_03 .layer_close {position: absolute; display: block; right: 28px; top: 30px; width: 32px; height: 32px; text-indent: -9999px; z-index: 101}

.pop_notice_04  {width: 690px; height: 254px; top: 3951px !important; background: url(../img/secrect/pop_l04.png) no-repeat 0 100%;}
.pop_notice_04 .layer_close {position: absolute; display: block; right: 28px; top: 30px; width: 32px; height: 32px; text-indent: -9999px; z-index: 101}

.pop_gift01  {width: 990px; height: 665px; top: 1007px !important; background: url(../img/secrect/pop_gift.jpg) no-repeat 0 100%;}
.pop_gift01 .layer_close {position: absolute; display: block; right: 28px; top: 30px; width: 32px; height: 32px; text-indent: -9999px; z-index: 101}


