@charset "euc-kr";

/* css 초기화 ================================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, select, input, textarea {
	margin:0; padding:0; border:0; vertical-align:baseline; }
body, input, textarea, select, td { font-size:12px; font-family: '나눔바른고딕', NanumBarunGothic, '돋음', dotum; color:#000000; }
h1, h2, h3, h4, h5, h6 { font-size:12px; }
h1, h2, h3, h4, h5, h6, strong { font-weight:bold; }
a { text-decoration:none; color:#000000; }
a:hover { text-decoration:underline; }
em { font-style:normal; } 
ol, ul { list-style: none; }
table { margin:0; outline:0; border-collapse:collapse; border-spacing:0; }
caption, th, td { font-weight:normal; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
/* css 초기화 ================================================================================== */

.btn, .btn_layer, .btn_mov, .btn_pos { display:block; position:absolute; background: url(../img/blank.gif); text-indent:-9999px; z-index:10; background-size: 100%;}
.wrap { position:relative; width:100%; height:100%; padding-top: 0; overflow: hidden; }
.hide {position: absolute; left: -9000px;}
.contents { position:relative; width:100%; z-index:30; }

/* * {transition: all .25s; -webkit-transition: all .25s;}*/

.wrap_pm_gnb {position: absolute; left: 0; top: 0; width: 100%;height: 148px; z-index: 200;}
.wrap_pm_gnb.fixed {position: fixed; top: 0;}
.wrap_pm_gnb .pm_gnb {position: relative; width: 1250px; height: 148px; margin: 0 auto; background: url(../img/ev_gnb.png) no-repeat 0 0; z-index: 100;}
.wrap_pm_gnb .bg_left { position: absolute; top: 0; left: -625px; width:50%; height: 148px; background:url(../img/ev_gnb_left.png) repeat-x right top;}
.wrap_pm_gnb .bg_right { position: absolute; top: 0; right: -625px; left: auto !important; width:50%; height: 148px; background:url(../img/ev_gnb_right.png) repeat-x left top;}

.wrap_pm_gnb a.btn_ava_logo {left: 0px; top: 26px; width: 194px; height: 70px;}
.wrap_pm_gnb a.btn_login {right: 0px; top: 22px; width: 56px; height: 38px;}
.wrap_pm_gnb a.btn_login.on {background: url(../img/btn_logout.jpg) no-repeat 0 0;}
.wrap_pm_gnb a.btn_home {right: 56px; top: 22px; width: 55px; height: 38px;}
.wrap_pm_gnb a.btn_gamestart {right: 1px; top: 69px; width: 110px; height: 38px;}

.gnb_link {position: absolute; left: 236px; top: 0;}
.gnb_link li {float: left; position: relative; width: 172px; height: 130px;}
.gnb_link li a {width: 100%; height: 100%; left: 0; top: 0;}
.gnb_link li.l01.on a, .gnb_link li.l01 a:hover {background: url(../img/btn_gnb.jpg) no-repeat 0 0;}
.gnb_link li.l02.on a, .gnb_link li.l02 a:hover {background: url(../img/btn_gnb.jpg) no-repeat -172px 0;}
.gnb_link li.l03.on a, .gnb_link li.l03 a:hover {background: url(../img/btn_gnb.jpg) no-repeat -344px 0;}
.gnb_link li.l04.on a, .gnb_link li.l04 a:hover {background: url(../img/btn_gnb.jpg) no-repeat -516px 0;}
.gnb_link li.l05.on a, .gnb_link li.l05 a:hover {background: url(../img/btn_gnb.jpg) no-repeat -688px 0;}

/* 미리보기 */
.preview {visibility:hidden; position:absolute; overflow:hidden; margin:3px 0 0 1px; padding:10px 14px 10px 14px; width:420px; color:#555; border:1px solid #e5e5e5; background:#ffffff; font-size:13px; line-height:21px; z-index:50; text-align:left; word-break:break-all; white-space:normal;}
.userMenu {position:absolute; border-collapse: collapse; z-index:33 !important; border:solid 1px #e5e5e5; border-bottom: 0 none; padding: 9px 0;}
.userMenu table {background:#fff;}
.userMenu td {padding:10px 10px; border-bottom: solid 1px #e5e5e5; background: #fff; cursor: pointer; vertical-align: middle; color: #777;}
.userMenu .over {background: #eee;}
.userMenu .udActivate {background: #eee; color: #333;}
.userMenu .udDeactivate {background: #fff;}


.layer_pop {position: absolute; z-index: 1000; display:none; margin-top: -25px; opacity: 0; filter: alpha(opacity=0);}
.layer_pop.on {display: block;}
.layer_pop .layer_close {position: absolute; display: block; text-indent: -9999px; z-index: 101}

.pop_dim {position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 990; display:none; opacity: 0; filter: alpha(opacity=0); background: #000}
.pop_dim.on {display: block;}

